-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: dw_sawit
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `api_tokens`
--

DROP TABLE IF EXISTS `api_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `id_organisasi` int DEFAULT NULL,
  `token` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=250 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_tokens`
--

LOCK TABLES `api_tokens` WRITE;
/*!40000 ALTER TABLE `api_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `api_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboard_prediksi_refresh_log`
--

DROP TABLE IF EXISTS `dashboard_prediksi_refresh_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboard_prediksi_refresh_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_organisasi` int NOT NULL,
  `id_user` int NOT NULL,
  `refreshed_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboard_prediksi_refresh_log`
--

LOCK TABLES `dashboard_prediksi_refresh_log` WRITE;
/*!40000 ALTER TABLE `dashboard_prediksi_refresh_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `dashboard_prediksi_refresh_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboard_refresh_log`
--

DROP TABLE IF EXISTS `dashboard_refresh_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboard_refresh_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_organisasi` int NOT NULL,
  `id_user` int NOT NULL,
  `refreshed_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboard_refresh_log`
--

LOCK TABLES `dashboard_refresh_log` WRITE;
/*!40000 ALTER TABLE `dashboard_refresh_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `dashboard_refresh_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_aset`
--

DROP TABLE IF EXISTS `dim_aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_aset` (
  `sk_aset` int NOT NULL AUTO_INCREMENT,
  `id_aset` int NOT NULL,
  `nama_aset` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `jumlah_aset` double NOT NULL,
  `sk_kategori_aset` int NOT NULL,
  `sk_kebun` int NOT NULL,
  PRIMARY KEY (`sk_aset`),
  KEY `fk_aset_kategori` (`sk_kategori_aset`),
  KEY `fk_aset_kebun` (`sk_kebun`),
  CONSTRAINT `fk_aset_kategori` FOREIGN KEY (`sk_kategori_aset`) REFERENCES `dim_kategori_aset` (`sk_kategori_aset`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_aset_kebun` FOREIGN KEY (`sk_kebun`) REFERENCES `dim_kebun` (`sk_kebun`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_aset`
--

LOCK TABLES `dim_aset` WRITE;
/*!40000 ALTER TABLE `dim_aset` DISABLE KEYS */;
/*!40000 ALTER TABLE `dim_aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_kategori_aset`
--

DROP TABLE IF EXISTS `dim_kategori_aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_kategori_aset` (
  `sk_kategori_aset` int NOT NULL AUTO_INCREMENT,
  `id_kategori` int NOT NULL,
  `nama_kategori` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`sk_kategori_aset`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_kategori_aset`
--

LOCK TABLES `dim_kategori_aset` WRITE;
/*!40000 ALTER TABLE `dim_kategori_aset` DISABLE KEYS */;
INSERT INTO `dim_kategori_aset` VALUES (3,2,'Alat Berat'),(4,1,'Pupuk');
/*!40000 ALTER TABLE `dim_kategori_aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_kebun`
--

DROP TABLE IF EXISTS `dim_kebun`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_kebun` (
  `sk_kebun` int NOT NULL AUTO_INCREMENT,
  `id_kebun` int NOT NULL,
  `nama_kebun` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `sk_organisasi` int NOT NULL,
  PRIMARY KEY (`sk_kebun`),
  KEY `fk_kebun_organisasi` (`sk_organisasi`),
  CONSTRAINT `fk_kebun_organisasi` FOREIGN KEY (`sk_organisasi`) REFERENCES `dim_organisasi` (`sk_organisasi`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_kebun`
--

LOCK TABLES `dim_kebun` WRITE;
/*!40000 ALTER TABLE `dim_kebun` DISABLE KEYS */;
INSERT INTO `dim_kebun` VALUES (12,4,'Kebun 5',1),(13,5,'Kebun 24',1),(14,1,'Kebun 1',1),(15,2,'Kebun 2',1),(16,3,'Kebun 3',1),(20,18,'Kebun Sawit',3),(21,11,'Kebun Sawit',2),(22,20,'A',7),(23,21,'Kebun 1',9),(24,22,'Kebun k1',10),(25,23,'Kebun1',12),(26,24,'Seimanasib',13),(27,25,'16ha',14),(28,26,'Kebun Sawit',10),(29,27,'Kebun 2',2),(30,28,'Kebun 3',2),(31,29,'Kebun 2',3),(32,30,'Kebun 3',3),(33,33,'Kebun 1',15),(34,166,'Kebun test 1',16),(35,167,'Kebun Sawit',1),(36,168,'Kebun tes',10);
/*!40000 ALTER TABLE `dim_kebun` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_organisasi`
--

DROP TABLE IF EXISTS `dim_organisasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_organisasi` (
  `sk_organisasi` int NOT NULL AUTO_INCREMENT,
  `id_organisasi` int NOT NULL,
  PRIMARY KEY (`sk_organisasi`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_organisasi`
--

LOCK TABLES `dim_organisasi` WRITE;
/*!40000 ALTER TABLE `dim_organisasi` DISABLE KEYS */;
INSERT INTO `dim_organisasi` VALUES (1,1),(2,2),(3,3),(4,4),(5,5),(7,7),(9,8),(10,9),(11,10),(12,11),(13,13),(14,14),(15,15),(16,16),(17,17),(18,20);
/*!40000 ALTER TABLE `dim_organisasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_user`
--

DROP TABLE IF EXISTS `dim_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_user` (
  `sk_user` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `sk_organisasi` int NOT NULL,
  PRIMARY KEY (`sk_user`),
  KEY `fk_sk_organisasi` (`sk_organisasi`),
  CONSTRAINT `fk_sk_organisasi` FOREIGN KEY (`sk_organisasi`) REFERENCES `dim_organisasi` (`sk_organisasi`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_user`
--

LOCK TABLES `dim_user` WRITE;
/*!40000 ALTER TABLE `dim_user` DISABLE KEYS */;
INSERT INTO `dim_user` VALUES (1,1,1),(2,6,1),(3,7,1),(4,8,1),(5,9,1),(6,10,1),(8,3,3),(9,2,2),(10,11,1),(11,13,7),(12,14,7),(13,15,9),(14,16,10),(15,17,11),(16,18,12),(17,19,12),(18,20,12),(19,22,13),(20,23,13),(21,24,14),(22,25,3),(23,27,15),(24,28,16),(25,29,17),(26,32,18),(27,33,1),(28,34,1);
/*!40000 ALTER TABLE `dim_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_waktu`
--

DROP TABLE IF EXISTS `dim_waktu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_waktu` (
  `sk_waktu` int NOT NULL,
  `tanggal` date NOT NULL,
  `tahun` int NOT NULL,
  `bulan` int NOT NULL,
  `minggu` int NOT NULL,
  `hari` int NOT NULL,
  `minggu_ke_dalam_bulan` int NOT NULL,
  PRIMARY KEY (`sk_waktu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_waktu`
--

LOCK TABLES `dim_waktu` WRITE;
/*!40000 ALTER TABLE `dim_waktu` DISABLE KEYS */;
/*!40000 ALTER TABLE `dim_waktu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fact_luas_kebun`
--

DROP TABLE IF EXISTS `fact_luas_kebun`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fact_luas_kebun` (
  `sk_fact_luas_kebun` int NOT NULL AUTO_INCREMENT,
  `sk_kebun` int NOT NULL,
  `sk_user` int NOT NULL,
  `sk_waktu` int DEFAULT NULL,
  `luas_kebun` double NOT NULL,
  PRIMARY KEY (`sk_fact_luas_kebun`),
  KEY `fk_luas_kebun_kebun` (`sk_kebun`),
  KEY `fk_luas_kebun_user` (`sk_user`),
  KEY `fk_luas_kebun_waktu` (`sk_waktu`),
  CONSTRAINT `fk_luas_kebun_kebun` FOREIGN KEY (`sk_kebun`) REFERENCES `dim_kebun` (`sk_kebun`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_luas_kebun_user` FOREIGN KEY (`sk_user`) REFERENCES `dim_user` (`sk_user`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_luas_kebun_waktu` FOREIGN KEY (`sk_waktu`) REFERENCES `dim_waktu` (`sk_waktu`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fact_luas_kebun`
--

LOCK TABLES `fact_luas_kebun` WRITE;
/*!40000 ALTER TABLE `fact_luas_kebun` DISABLE KEYS */;
INSERT INTO `fact_luas_kebun` VALUES (25,35,1,20230115,133.5),(26,12,1,20230115,12.6),(27,13,1,20220101,240),(28,14,1,20140101,66.35),(29,15,1,20170101,47.172),(30,16,1,20180101,20.2),(31,35,1,20250804,503.5),(32,35,1,20250804,103.5),(35,28,14,20250630,500),(36,24,14,20250624,1230),(37,28,14,20250804,103.5),(38,36,14,20250814,150);
/*!40000 ALTER TABLE `fact_luas_kebun` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fact_panen`
--

DROP TABLE IF EXISTS `fact_panen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fact_panen` (
  `sk_fact_panen` int NOT NULL AUTO_INCREMENT,
  `id_panen` int NOT NULL,
  `sk_kebun` int NOT NULL,
  `sk_waktu` int NOT NULL,
  `sk_user` int NOT NULL,
  `jumlah_panen` int NOT NULL,
  PRIMARY KEY (`sk_fact_panen`),
  KEY `fk_panen_kebun` (`sk_kebun`),
  KEY `fk_panen_waktu` (`sk_waktu`),
  KEY `fk_panen_user` (`sk_user`),
  CONSTRAINT `fk_panen_kebun` FOREIGN KEY (`sk_kebun`) REFERENCES `dim_kebun` (`sk_kebun`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_panen_user` FOREIGN KEY (`sk_user`) REFERENCES `dim_user` (`sk_user`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_panen_waktu` FOREIGN KEY (`sk_waktu`) REFERENCES `dim_waktu` (`sk_waktu`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=557 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fact_panen`
--

LOCK TABLES `fact_panen` WRITE;
/*!40000 ALTER TABLE `fact_panen` DISABLE KEYS */;
/*!40000 ALTER TABLE `fact_panen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fact_prediksi_panen`
--

DROP TABLE IF EXISTS `fact_prediksi_panen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fact_prediksi_panen` (
  `sk_fact_prediksi` int NOT NULL AUTO_INCREMENT,
  `sk_kebun` int NOT NULL,
  `sk_waktu` int NOT NULL,
  `sk_organisasi` int NOT NULL,
  `jumlah_prediksi_panen` decimal(15,2) NOT NULL,
  PRIMARY KEY (`sk_fact_prediksi`),
  KEY `fk_prediksi_kebun` (`sk_kebun`),
  KEY `fk_prediksi_organisasi` (`sk_organisasi`),
  KEY `fk_prediksi_waktu` (`sk_waktu`),
  CONSTRAINT `fk_prediksi_kebun` FOREIGN KEY (`sk_kebun`) REFERENCES `dim_kebun` (`sk_kebun`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_prediksi_organisasi` FOREIGN KEY (`sk_organisasi`) REFERENCES `dim_organisasi` (`sk_organisasi`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_prediksi_waktu` FOREIGN KEY (`sk_waktu`) REFERENCES `dim_waktu` (`sk_waktu`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=349 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fact_prediksi_panen`
--

LOCK TABLES `fact_prediksi_panen` WRITE;
/*!40000 ALTER TABLE `fact_prediksi_panen` DISABLE KEYS */;
/*!40000 ALTER TABLE `fact_prediksi_panen` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-06 14:23:49
